@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-inicio {
	background-image: url('./images/inicio/fondo_inicio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-img-inicio {
	background-image: url('./images/inicio/moto-imagen.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-inicio-pc {
	background-image: url('./images/inicio/fondo_inicio_pc.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-cliente {
	background-image: url('./images/cliente/fondo.png');
	background-size: cover;
	background-position: center;
	background-repeat: auto;
}

.bg-cliente-movil {
	background-image: url('./images/cliente/fondo-movil.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.img-logo {
	background-image: url('./images/inicio/logo.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.google-icon {
	background-image: url('./images/inicio/icons/google-icon.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.moto-icon {
	background-image: url('./images/panel/icons/moto-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.estadisticas-icon {
	background-image: url('./images/panel/icons/estaditicas-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.cliente-icon {
	background-image: url('./images/panel/icons/cliente-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.back-icon {
	background-image: url('./images/icons/back-icon.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.restaurante-icon {
	background-image: url('./images/panel/icons/restaurante-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.casa-icon {
	background-image: url('./images/icons/home-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.casa-icon-disable {
	background-image: url('./images/icons/home-icon-disable.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.carrito-icon {
	background-image: url('./images/icons/carrito-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.carrito-icon-disable {
	background-image: url('./images/icons/carrito-icon-disable.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.usuario-icon {
	background-image: url('./images/icons/usuario-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.usuario-icon-disable {
	background-image: url('./images/icons/usuario-icon-disable.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.gestionar-repartidor-icon {
	background-image: url('./images/repartidor/gestionar-repartidor-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.gestionar-turno-icon {
	background-image: url('./images/repartidor/gestionar-turno-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.eliminar-icon {
	background-image: url('./images/icons/eliminar-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.usuario-negro-icon {
	background-image: url('./images/icons/user-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.editar-icon {
	background-image: url('./images/icons/edit-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.agregar-icon {
	background-image: url('./images/icons/agregar-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.gestionar-restaurante-icon {
	background-image: url('./images/restaurantes/gestionar-restaurante-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.gestionar-producto-icon {
	background-image: url('./images/restaurantes/gestionar-producto-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.gestionar-menu-icon {
	background-image: url('./images/restaurantes/gestionar-menu-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.cesta-compra-icon {
	background-image: url('./images/icons/cesta-compra-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.cancel-icon {
	background-image: url('./images/icons/cancel-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.dinero-icon {
	background-image: url('./images/icons/dinero-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.guardar-icon {
	background-image: url('./images/icons/guardar-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.text-shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.text-shadow-md {
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.text-shadow-lg {
	text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}
.text-shadow-none {
	text-shadow: none;
}